<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<!-- Header  -->
		<h2 id="header">Hello, <%= currentUser.username %> </h1>
		<%- include('../partials/logout.ejs') %>
		<!-- Body -->
		<div class="row">
			<!-- Side Nav -->
			<div class="col s12 m4 l2" id="sidenav">
				<%- include('../partials/nav.ejs') %>
			</div>
			<!-- Recipe Content -->
			<div class="col s12 m8 l8" id="content">
				<div class="flex-container">
					<% if (userRecipes.length ===0) { %>
						<h1>You have no recipes 😔</h1>
				
					<% } else { %>
					 
					<% userRecipes.forEach(recipe => { %>
					
							<div class="card blue-grey darken-1 medium flex-item">
								<div class="card-image">
									<img src="<%= recipe.imageURL %>">
									<span class="card-title"><%= recipe.name %> </span>
								  </div>
								<div class="card-content white-text">
							
									<p><%= recipe.description %> </p>
								</div>
								<div class="card-action">
									<a href="/app/recipe/<%= recipe.id %>">View</a>
									<a href="/app/recipe/<%= recipe.id %>/edit">Edit</a>
									<form action="/app/recipe/<%= recipe.id %>?_method=DELETE" method="POST" id="delete">
										<input type="submit" value="DELETE" id='delete-btn' />
									</form>
								</div>
							</div>
						
						<% }) %>
					<% } %>
				</div>
			
			</div>

			<!-- Ingredients Bulletin -->
			<div class="col s12 m4 l2" id="bulletin">
				<div class="card blue-grey darken-1" id="bulletin">
					<div class="card-content white-text">
						<span class="card-title">You're sharing,</span>
						<div id="bulletin-container">
						<!-- Food Card -->
						<% userFoods.forEach(food => { %>
							<div class="card blue-grey darken-1 food-card">
								<div class="card-content white-text">
								  <span class="card-title"><%= food.name %> </span>
								  <p>Expiry: <%=food.expiry %></p>
								  <p>Quantity: <%=food.quantity %></p>
								</div>
								<div class="card-action">
									<a href="/food/<%= food.id %>/edit ">Edit</a>
									<form action="/food/<%= food.id %>?_method=DELETE" method="POST" id="delete">
										<input type="submit" value="DELETE" id='delete-btn' />
									</form>
							</div>
						 
						<% }) %>
					</div>
					</div>
					<div class="card-action">
						<a href="/food/new">Share Food</a>
						<a href="/food/map">Map</a>
					</div>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
