<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>

		<!-- Header  -->
		<div class="header-flex">
				
			<div class="title-container"><h2 class="header-title"><%= otherUser.username %>'s Page 🙂</h1>
		
				</div>
			<div id="log-out-container"><%- include('../partials/logout.ejs') %></div>
		</div>

		<!-- Body -->
		<div class="row">
			<!-- Side Nav -->
			<div class="col s12 m4 l2" id="sidenav">
				<%- include('../partials/nav.ejs') %>
			</div>
			<!-- Recipe Content -->
			<div class="col s12 m8 l8" id="content">
				<div class="flex-container">
					<% if (userRecipes.length ===0) { %>
						<h1>There are no recipes yet. 🥗</h1>
				
					<% } else { %>
					 
					<% userRecipes.forEach(recipe => { %>
					
						<div class="card z-depth-3 medium flex-item">
							<div class="card-image">
								<img src="<%= recipe.imageURL %>" >
								<span class="card-title card-recipe"><%= recipe.name %> </span>
							  </div>
							<div class="card-content">
							
							<p><%= recipe.description %> </p>
							
							</div>
							<div class="card-action">
								<a class="card-action-btn" href="/app/recipe/<%= recipe.id %>">View</a>
							</div>
							
						</div>
					<% }) %>
					<% } %>
				</div>
			
			</div>

			<!-- Ingredients Bulletin -->
			<div class="col s12 m4 l2" >
				<div class="card z-depth-3"id="bulletin">
					<div class="card-content food-bulletin">
						<span class="card-title"><%= otherUser.username %>'s sharing:</span>
						<p>📧 <%= otherUser.email %></p>
						<div id="bulletin-container">
						<!-- Food Card -->
						<% userFoods.forEach(food => { %>
							<div class="card orange lighten-4 food-card">
								<div class="card-content ">
								  <span class="card-title"><%= food.name %> </span>
								  <p>Expiry: <%=food.expiry %></p>
								  <p>Quantity: <%=food.quantity %></p>
								</div>
							</div>
						 
						<% }) %>
					</div>
					</div>
					<div class="card-action ">
						<a class="card-action-btn" href="/food/new">Share Food</a>
						<a class="card-action-btn" href="/food/map">Map</a>
					</div>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
