<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<!-- Header  -->
		<h2 id="header"><%= otherUser.username %> </h1>
		<%- include('../partials/logout.ejs') %>
		<!-- Body -->
		<div class="row">
			<!-- Side Nav -->
			<div class="col s12 m4 l2" id="sidenav">
				<%- include('../partials/nav.ejs') %>
			</div>
			<!-- Recipe Content -->
			<div class="col s12 m8 l8" id="content">
				<div class="flex-container">
					<% userRecipes.forEach(recipe => { %>
					
						<div class="card blue-grey darken-1 small flex-item">
							<div class="card-image">
								<img src="<%= recipe.imageURL %>">
								<span class="card-title"><%= recipe.name %> </span>
							  </div>
							<div class="card-content white-text">
				
							<p><%= recipe.description %> </p>
							
							</div>
							<div class="card-action">
								<a href="/app/recipe/<%= recipe.id %>">View</a>
							</div>
							
						</div>
					<% }) %>
				</div>
			
			</div>

			<!-- Ingredients Bulletin -->
			<div class="col s12 m4 l2" id="bulletin">
				<div class="card blue-grey darken-1">
					<div class="card-content white-text">
						<span class="card-title">Your Ingredients</span>
						<p>Ingredients</p>
					</div>
					<div class="card-action">
						<a href="#">Map</a>
					</div>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
