<!-- Recicpe Name -->
<input
	placeholder=""
	id="name"
	type="text"
	class="validate"
	name="name"
	value="<%=recipe.name%> "
	required
/>
<label for="name">Recipe / Idea Name</label>

<!-- Description -->
<textarea
	rows="8"
	cols="50"
	id="description"
	class="materialize-textarea"
	name="description"
	form="recipeform"
>
<%=recipe.description %></textarea
>

<label for="description">Description</label>

<!-- Ingredients -->

<textarea
	rows="8"
	cols="50"
	id="ingredients"
	class="materialize-textarea"
	name="ingredients"
	form="recipeform"
	required
>
<%=recipe.ingredients %></textarea
>

<label for="ingredients">Ingredients</label>

<!-- Instructions -->
<textarea
	rows="8"
	cols="50"
	id="instructions"
	class="materialize-textarea"
	name="instructions"
	form="recipeform"
	required
>
<%=recipe.instructions%></textarea
>
<label for="instructions">Instructions</label>

<!-- Image Upload -->
<div class="file-field input-field">
	<div class="btn waves-effect yellow darken-4 waves-light">
		<span>Image</span>
		<input type="file" name="imageURL" />
	</div>
	<div class="file-path-wrapper">
		<input
			class="file-path validate"
			type="text"
			id="imageURL"
			placeholder=".jpg .png .jpeg"
		/>
	</div>
</div>

<!-- Author -->
<input
	type="hidden"
	id="author"
	name="author"
	value="<%= currentUser.username %>"
/>

<!-- Submit -->
<div>
	<button
		class="waves-effect waves-light white btn back"
		type="submit"
		name="action"
		id="submit-btn"
	>
		Submit
	</button>
</div>
