<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
	
		<!-- Header  -->
	
		<div class="header-flex">
				
			<div class="title-container"><h2 class="header-title">Edit Food 👩‍🌾</h1>
		
				</div>
			<div id="log-out-container"><%- include('../partials/logout.ejs') %></div>
		</div>
		

		<div class="row">
			<!-- Side Nav -->
			<div class="col s12 m4 l3"id="sidenav"><%- include('../partials/nav.ejs') %></div>
			<!-- Content -->
			<div class="col s12 m8 l9">
				<div>
					<!-- Create/Edit Food Form -->
					<form
						action="/food/<%=food.id%>?_method=PUT"
						method="POST"
						id="foodform"
					>
						<%- include('../partials/foodform.ejs') %>
					</form>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
