<!DOCTYPE html>
<html lang="en">
	<head>

		<%- include('../partials/head.ejs') %>

        <!-- Google Maps -->
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
		
		<!-- Jquery -->
		<script src="https://code.jquery.com/jquery-3.6.0.min.js" 
		integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" 
		crossorigin="anonymous">
		</script>
        
		<!-- Script -->
        <script src="../scripts/map.js" charset="utf-8"></script>
	
	</head>
	<body>

		<!-- Header  -->
		<h2 id="header">Welcome to Food Nomad</h1>
		<%- include('../partials/logout.ejs') %>

		<!-- Body -->
		<div class="row">

			<!-- Side Nav -->
			<div class="col s12 m4 l3" id="sidenav">
				<%- include('../partials/nav.ejs') %>
			</div>
			
			<!-- Map Content -->
			<div class="col s12 m8 l9" id="content">
                <div id="map">

                </div>
			</div>

            <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
            <script
            src="https://maps.googleapis.com/maps/api/js?key=<%= map %>&callback=initMap&libraries=&v=weekly"
            async
        ></script>

		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
