<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/head.ejs') %>
	</head>
	<body>
		<!-- Header  -->

		<div class="header-flex">	
			<div class="title-container"><h2 class="header-title"><%= recipe.name %> 🍱</h1>
		
				</div>
			<div id="log-out-container"><%- include('../partials/logout.ejs') %></div>
		</div>


		<div class="row">
			<!-- Side Nav -->
			<div class="col s12 m4 l3" id="sidenav"><%- include('../partials/nav.ejs') %></div>
			<!-- Content -->
			<div class="col s12 m8 l9" id="recipe-container">
				<div id="recipe-content">
					<img
						src="<%= recipe.imageURL %>"
						class="image-show z-depth-3 respnosive-img"
					/>
					<p id="recipe-description"><%= recipe.description %></p>
					<h6 id="recipe-author">
						By:
						<a href="/app/profile/<%= recipe.author %>"><%= recipe.author %></a>
					</h6>

					<h3 id="recipe-ingredients-header">Ingredients:</h3>
					<ul id="recipe-ingredients">
						<% recipe.ingredients.forEach(ingredient => { %>
						<li id="recipe-ingredient"><%= ingredient %></li>
						<% }) %>
					</ul>
					<h3 id="recipe-ingredients-header">Instructions:</h3>
					<p id="recipe-instructions"><%= recipe.instructions %></p>
				</div>
			</div>
		</div>
		<%- include('../partials/footer.ejs') %>
	</body>
</html>
